/*==================== GOOGLE FONTS ====================*/
/*==================== Title Font ====================*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Ubuntu:wght@300&display=swap');

/*==================== Sub-Title Font ====================*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); */
/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --first-color: #f4a01b;
  --first-color-second: #ec0752;
  --Get-a-quote: linear-gradient(42deg, #6a94ed 0%, #a9bef5 100%);
  --main-text--color: #111111;
  --pr-featurecard-color: #666666;
  --blueBlack_color: #373a5b;
  --body-color: #fff;

  /*========== Font and typography ==========*/
  --title-font-family: 'Cormorant Garamond', serif;
  --sub-font-family: 'Bitter', serif;
  --big-sub-title-font-family: 'Ubuntu', sans-serif;
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 50px;
  --title-font-size: 80px;
  --p-font-size: 16px;
  --btn-font-size: 14px;

  /*========== Font weight ==========*/
  --main-font-weight: 700;
}

/* Font size for large devices */
@media (max-width: 768px) {
  :root {
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 30px;
    --title-font-size: 50px;
    --p-font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --big-font-size: 30px;
  }
}
/*==================== BASE ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  /* line-height: 1.625; */
}

a {
  text-decoration: none;
  color: #111111;
}

/*==================== Home-Header ====================*/
.header {
  background-image: url(../image/550393e7-f81b-43b1-94d1-3aef1bc7527a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  top: 0px;
  z-index: 1;
}

.menu-container::after,
.dishes::after,
.header::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #000000 0%, #485563 100%);
  opacity: 0.6;
  z-index: -1;
}

/*==================== Navbar ====================*/
.Navbar {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 100;
  background-color: #fff;
  overflow-y: hidden;
  box-shadow: 2px 1px 15px rgb(59, 58, 58);
}

.Navbar,
.links,
.links ul,
.contact ul {
  display: flex;
}

.logo {
  position: absolute;
  left: -150px;
  top: 20px;
  width: 40%;
  font-size: 250%;
  color: #000000;
  padding: 10px;
  font-family: var(--big-font-size);
}

.links ul li,
.contact ul li {
  list-style: none;
}

.links li a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  margin: 0 20px;
}

.contact ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  margin: 0 0px;
}

.links {
  margin-top: 20px;
  position: absolute;
  right: 50px;
  top: 20px;
}

.links ul li a {
  transition: all 0.35s ease-out;
  -webkit-transition: all 0.5s ease-out;
  padding-bottom: 5px;
  padding: 50px 10px;
}

.links .active {
  color: #fff;
}

.links .active,
.links ul li a:hover {
  background-color: rgb(36, 34, 34);
  color: #fff;
}

.contact ul li a:hover {
  border-bottom: none;
  color: #f4a01b;
  background-color: #ffff;
}
/* ====================Menu for Responsive========================= */
.menu-mob {
    color: #111;
    font-size: 30px;
    margin-top: 0;
    display: none;
    cursor: pointer;
    transition: all 0.35s ease-out;
    -webkit-transition: all 0.5s ease-out;
  }
  
  .menu-mob:hover {
    color: #f4a01b;
  }
  
  /*==================== mob-menu ====================*/
  
  .hid-2 {
    display: none;
  }
  
  .mob-links {
    margin-top: 50px;
    position: relative;
  }
  
  .mob-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15px;
    transition: all 0.7s;
    height: 110vh;
    z-index: 10002;
    position: fixed;
    width: 400px;
    overflow-y: scroll;
    background-color: #242323;
    padding: 50px 50px;
    box-shadow: 0px 3px 5px rgb(100 100 100 / 19%);
  }
  
  .mob-menu .close-menu {
    color: var(--first-color);
    cursor: pointer;
    font-size: 35px;
    border: none;
    background: none;
  }
  .mob-menu img {
    margin: 0 35%;
  }
  
  .mob-links li {
    list-style: none;
    margin: 10px 0;
    width: 100%;
    border-bottom: solid rgba(0, 0, 0, 0.1);
  }
  
  .mob-links a {
    color: #ffff;
    font-weight: var(--main-font-weight);
    font-size: 14px;
    text-decoration: none;
  }
  
  .mob-links i {
    position: relative;
    position: absolute;
    right: 20px;
  }
  
  .mob-links i:hover a {
    color: var(--main-color);
  }
  
  .mob-menu .menu-contact {
    margin-bottom: 30px;
  }
  
  .overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 860%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
  }
  
  /* ======================End Navebar================================ */
  
  /* ======================HOME-intro================================ */
  .intro {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    display: block;
  }
  
  .home-intro {
    padding: 200px 0 210px;
    overflow: hidden;
  }
  
  .main-title {
    font-size: 106px;
    line-height: 100px;
    font-weight: 700;
    margin-bottom: 50px;
    color: var(--body-color);
    font-family: var(--title-font-family);
  }
  
  .home-intro .pr {
    color: var(--body-color);
    font-size: 20px;
    line-height: 24px;
    font-family: var(--sub-font-family);
    font-weight: bold;
  }

    /* ======================End Navebar================================ */
    .card{
      margin:auto;
      border:solid 1px #dbdad7; 
      width:60%; 
      padding-left:10px!important;
      padding-bottom:10px!important;
      padding-right:10px!important;
      padding-top: 0px!important;
      
    }
    
    .card-title{
      margin:auto;
      padding:15px;
      background-color: rgb(126, 122, 122);
      color: white;
      size: 200%;
      width:80%;
      
    }
    
    div.card-body{
      padding:0px;
    }
    .custom-select{
      width:100%;
    }
    
    .btn2{
      margin-left:10%;
    }
    input {
      outline: 0!important;
      border-width: 0 0 2px!important;
      border-color: #d1d1cf!important;
    }
    input:focus {
      border-color: #d1d1cf!important;
     -webkit-box-shadow: none!important;
      box-shadow: none!important;
    }
    
    select{
    
     outline: 0!important;
      border-width: 0 0 2px!important;
      border-color: #d1d1cf!important;
    }
    
    select:focus{
        border-color: #d1d1cf!important;
     -webkit-box-shadow: none!important;
      box-shadow: none!important;
    }
    
    .radiobtn{
      margin-left: 3.5%;
    }
    
    .icons{
      margin:auto!important;
    
    }
    
    .fa{
      border-radius: 25px;
      width: 10%;
      margin-left: 5%;
      border:solid 2px #dbdad7;
      margin-top:5%;
      text-align: center;
    }
    
    .fa-plane{
      color:#fff;
    }
    
    .fa-taxi{
      color: #c2f700;
    }
    
    .fa-train{
      color:red;
    }
    
    @media only screen and (max-width: 600px) {
      .card{
        margin:auto;
        border:solid 1px #dbdad7;
        width:90%;
        padding-left:10px!important;
        padding-bottom:10px!important;
        padding-right:10px!important;
        padding-top: 0px!important;
      
      }
    
      .fa{
        border-radius: 25px;
        width: 15%;
        margin-left: 5%;
        border:solid 2px #dbdad7;
        margin-top:5%;
        text-align: center;
      }
    }
 /* ====================online ordering====================*/
 .order-form .container {
  color: #4c4c4c;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}
.col-12{
  text-align: center;
}
.order-form-label {
  margin: 8px 0 0 0;
  font-size: 14px;
  font-weight: bold;
}

.order-form-input {
  width: 100%;
  padding: 8px 8px;
  border-width: 1px !important;
  border-style: solid !important;
  border-radius: 3px !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2em;
  background-color: transparent;
  border-color: #cccccc;
}

.btn-submit:hover {
  background-color: #090909 !important;
}
  /*==================== FOOTER ====================*/
.footer {
  padding: 92px 0 65px;
  background-color: #121212;
  background-size: cover;
}

.footer-logo {
  margin-bottom: 40px;
  color: #ffffff;
  size: 100%;
  font-family: var(--title-font-family)
}

.footer-logo img {
  height: 40px;
}

.footer-pr {
  margin: 30px 0 0;
  color: #ffffff;
  padding-bottom: 40px;
}

.footer-icon {
  display: inline-block;
}

.footer-icon i {
  padding: 0 0px 0 0;
  font-size: 15px;
  margin-right: 3px;
  transition: all 0.8s ease;
  background: #1c2024;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  color: #fff;
  text-align: center;
}

.footer-icon i:hover {
  background-color: var(--first-color);
}

.footer-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
  padding-bottom: 14px;
}

.footer-title h2 {
  font-size: 20px;
  line-height: 42px;
  font-weight: 700;
}

.footer-title::after {
  content: '';
  width: 50px;
  height: 4px;
  background: rgb(150, 147, 147);
  position: absolute;
  bottom: -4px;
  right: 0;
  left: 0;
  margin-left: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 0;
}

/* .work-time {
  padding-left: 30px;
} */

.work-time a {
  margin-bottom: 15px;
  font-size: 15px;
  color: #ffffff;
  transition: all 0.3s ease;
  text-decoration: none;
  display: block;
}

.work-time a:hover {
  color: var(--first-color);
}

.media-footer {
  margin: 20px 0;
  display: flex;
}

.media-footer i {
  font-size: 20px;
  color: var(--first-color);
  margin-right: 20px;
}

.first-media-footer a {
  display: block;
}

.media-footer a {
  color: #ffffff;
  font-weight: 500;
}

.footer-pr-2 {
  padding-bottom: 0;
}

